$fontRaleway-Bold:'Raleway Bold',sans-serif;
$fontSans-Light:'Open Sans Light',sans-serif;
$fontSans-Regular:'Open Sans Regular',sans-serif;
$fontSans-Semi:'Open Sans Semi',sans-serif;
$fontSans-Bold:'Open Sans Bold',sans-serif;
$fontMerriweather-Light:'Merriweather Light',sans-serif;
$fontMontserrat-Light:'Montserrat Light',sans-serif;
$fontMontserrat-Bold:'Montserrat Bold',sans-serif;


